{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>Hotel Records:</h1>
    <h5>Insert some data about a hotels' customers and watch the site calculate whether a gift should be given to customers based on their history to possibly boost sales. You can see your recents searches and insertions on the home page. You can search for customers meeting specific criteria using the basic or advanced search functions. The reset button erases all existing data and loads dummy data to demonstrate the program's functionality. Thanks for visiting!</h5>
{% endblock %}
